
  html {
    scroll-behavior: smooth;
  }
  
  .parallax {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTMd7AAijjPqs2wSIerzdhq-ujRDuvPkFCxXK70DUh8tHc7rOil");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .home {
    height: 100vh !important;
  }

.navigation {
    padding-top: 3vh;
    text-align: center;
    height: 500px;
}

.name {
    line-height: 350px;
    font-family: 'Varela Round', sans-serif;
    font-size: 60px;
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */
}

h1 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

.info {
    padding: 20px 20px 20px 20px;
}

a, a:visited, a:hover {
    color: white;
}

.fixedDiv {
    height: 150px;
    width: 125px;
    background: white;  
    position: fixed;
    border-radius: 10px;
    top: 10px;
    left: 5px;
    opacity: 0.5;
}

.fixedDiv:hover {opacity: 1}

.slideshow {
    display: none;
    background: hotpink;
    z-index: 2;
    position: fixed;
    width: 80%;
    height: 80vh;
    top: 10%;
    left: 10%;
}

.x {
    display: none;
    z-index: 3;
    position: absolute;
    top: 5px;
    right: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}



@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }